body{
    margin: 0;
    padding: 0;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form .todo-button{
    padding: 0.5rem;
    font-size: 2rem;
    border: black;
    background: silver;
}

h1{
    font-size: 100px;
}

form .todo-button{
    color:black;
    background: silver;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .todo-button:hover {
    background:black;
    color:white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    min-width: 30%;
    list-style: none;
}

.todo{
margin: 00.5rem;
background: rgb(223, 182, 182);
color: black;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
transition: all 0.5s ease;
}

.todo li {
    flex:1;
}

.trash-btn{
    background: rgb(0, 255, 42);
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(253, 246, 248);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.complete{
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;

}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: black;
    font-size: 20px;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    background: silver;
}

.select::after{
    content:"\25BC";
    position: absolute;
    background: silver;
    top:0;
    right:0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background:black;
    color:white;
}
 .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
 }